body  {
    /* background-color: hsl(233, 47%, 7%); */
    /* color: white; */
}

.container {
    border: solid red 1px;
    border-radius: 10px;
    display: flex;
    overflow: hidden;

    /*  HOW TO SIZE CONTAINER TO CONTENT  */
    width: fit-content;
    height: fit-content;

    /*  HOW TO CENTER A DIV  */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
}

.col ul {
    border: solid 1px red;
}

.col li {
    display: inline-block;
    margin: 20px;
}

.children {
    width: 500px;
    height: 500px;
}

.picture {
    background-image: url('./images/image-header-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}